[submodule "zsh/.zprezto/modules/history-substring-search/external"]
	path = zsh/.zprezto/modules/history-substring-search/external
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "zsh/.zprezto/modules/syntax-highlighting/external"]
	path = zsh/.zprezto/modules/syntax-highlighting/external
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/.zprezto/modules/completion/external"]
	path = zsh/.zprezto/modules/completion/external
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh/.zprezto/modules/prompt/external/powerline"]
	path = zsh/.zprezto/modules/prompt/external/powerline
	url = https://github.com/davidjrice/prezto_powerline.git
[submodule "zsh/.zprezto/modules/prompt/external/agnoster"]
	path = zsh/.zprezto/modules/prompt/external/agnoster
	url = https://gist.github.com/3712874.git
[submodule "zsh/.zprezto/modules/prompt/functions/pure"]
	path = zsh/.zprezto/modules/prompt/external/pure
	url = https://github.com/sindresorhus/pure.git
[submodule "vim/.vim/bundle/vim-pathogen"]
	path = vim/.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/.vim/bundle/neocomplete.vim"]
	path = vim/.vim/bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim/bundle/vim-commentary"]
	path = vim/.vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/bundle/syntastic"]
	path = vim/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/.vim/bundle/ultisnips"]
	path = vim/.vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim/.vim/bundle/vim-airline"]
	path = vim/.vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim/.vim/bundle/vim-snippets"]
	path = vim/.vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vim/.vim/bundle/vim-surround"]
	path = vim/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/.vim/bundle/vim-toml"]
	path = vim/.vim/bundle/vim-toml
	url = https://github.com/cespare/vim-toml.git
[submodule "vim/.vim/bundle/vim-repeat"]
	path = vim/.vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/.vim/bundle/vim-unimpaired"]
	path = vim/.vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/.vim/bundle/vim-javascript"]
	path = vim/.vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/.vim/bundle/html5.vim"]
	path = vim/.vim/bundle/html5.vim
	url = https://github.com/othree/html5.vim.git
[submodule "vim/.vim/bundle/vim-python-combined"]
	path = vim/.vim/bundle/vim-python-combined
	url = https://github.com/mitsuhiko/vim-python-combined.git
[submodule "vim/.vim/bundle/i3-vim-syntax"]
	path = vim/.vim/bundle/i3-vim-syntax
	url = https://github.com/PotatoesMaster/i3-vim-syntax.git
